@model IEnumerable<Rental4You.Models.Vehicle>

@{
    ViewData["Title"] = "Início";
}

<h1 style="color:black;">Lista de veículos:</h1>

@if (User.IsInRole("Employee"))
{
    <p>
        <a asp-action="Create" style="color:darkblue;text-decoration:none;">Criar um novo veículo</a>
    </p>
}
<body style="background-image:url('/img/veiculos.png');">
<div>
    <form method="post">
        <input type="text" name="TextToSearchName" placeholder="Nome do veículo">
        <input type="text" name="TextToSearchLocation" placeholder="Localização do veículo">
        @*<input type="text" name="TextToSearchCompany" placeholder="Empresa a alugar">*@
        <select name="TextToSearchCompany">
            <option>Empresa a alugar</option>
            @foreach (Company c in ViewBag.ListOfAllCompanies)
            {
                <option value="@c.Id">@c.Name</option>
            }
        </select>
        <input type="submit" value="Procurar" asp-action="Search" asp-route-TextToSearchName=TextToSearchName asp-route-TextToSearchLocation=TextToSearchLocation asp-route-TextToSearchCompany=TextToSearchCompany />
    </form>
</div>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#"
           role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:darkblue">
        Filtrar por tipo
    </a>
    <ul class="dropdown-menu">

        @*@foreach (var group in Model.GroupBy(i => i.Type))*@
        @foreach (String s in ViewBag.ListOfAllTypes)
        {
            <li>
                <a class="dropdown-item" asp-action="Index" asp-route-filter=@s>@s</a>
            </li>
        }

    </ul>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#"
           role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:darkblue">
        Filtrar por empresa a alugar
    </a>
    <ul class="dropdown-menu">

        @*@foreach (var group in Model.GroupBy(i => i.Company))*@
        @foreach (Company c in ViewBag.ListOfAllCompanies)
        {
            if (c.Available)
            {
                <li>
                    <a class="dropdown-item" asp-action="Index" asp-route-filter=@c.Name>@c.Name</a>
                </li>
            }
        }

    </ul>
</li>

<li>
        <a class="dropdown-item" asp-action="Index" style="color:darkblue">Remover filtros</a>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#"
           role="button" data-bs-toggle="dropdown" aria-expanded="false"style="color:darkblue">
        Ordenar por
    </a>
    <ul class="dropdown-menu">

        <li>
            <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="price_up">Preço ascendente</a>
        </li>

        <li>
            <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="price_down">Preço descendente</a>
        </li>

    </ul>
</li>

    <table class="table table-bordered table-striped table-hover" style="background-color:rgba(255, 255, 255, 0.7)">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

            @foreach (Company c in ViewBag.ListOfAllCompanies)
            {
                if (c.Id == item.CompanyId)
                    if (c.Available)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Available)
                            </td>
                            <td>
                                @c.Name
                            </td>
                            <td>
                                @if (User.IsInRole("Employee"))
                                {
                                        @foreach (var item2 in ViewBag.ListOfCompaniesAssociatedToEmployee)
                                        {
                                            if (item2.Id == item.CompanyId)
                                            {
                                                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>

                                                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                                            }
                                        }

                                }
                                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                            </td>
                        </tr>
                    }
            }
}
    </tbody>
</table>
</body>