@model IEnumerable<Rental4You.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>List of cars:</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    <form method="post" >
        <input type="text" name="TextToSearchName" placeholder="Name of the car">
        <input type="text" name="TextToSearchLocation" placeholder="Location of the car">
        <input type="text" name="TextToSearchCompany" placeholder="Company renting">
        <input type="submit" value="Search" />
    </form>
</div>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#"
       role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filter by type
    </a>
    <ul class="dropdown-menu">

            @foreach (var group in Model.GroupBy(i => i.Type))
            {
            <li>
                <a class="dropdown-item" asp-action="Index" asp-route-filter=@group.Key>@group.Key</a>
            </li>
            }

    </ul>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#"
       role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filter by company
    </a>
    <ul class="dropdown-menu">

            @foreach (var group in Model.GroupBy(i => i.Company))
            {
        <li>
                <a class="dropdown-item" asp-action="Index" asp-route-filter=@group.Key>@group.Key</a>
        </li>
        }  

    </ul>
</li>

<li>
    <a class="dropdown-item" asp-action="Index">Remover filtros</a>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#"
       role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Order by
    </a>
    <ul class="dropdown-menu">

            <li>
                <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="price_up">Price (up)</a>
            </li>

            <li>
                <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="price_down">Price (down)</a>
            </li>

    </ul>
</li>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyAcronym)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyAcronym)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
