@model Rental4You.ViewModels.VehicleSearchViewModel

@{
    ViewData["Title"] = "Search";
}
<body style="background-image:url('/img/veiculos.png');">
<h1>A sua pesquisa de veículos:</h1>

    <table class="table table-bordered table-striped table-hover" style="background-color:rgba(255, 255, 255, 0.7)">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Tipo
            </th>
            <th>
                Localização
            </th>
            <th>
                Preço
            </th>
            <th>
                Disponível
            </th>
            <th>
                Empresa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListOfVehicles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Available)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index" style="color:darkblue">Voltar</a>
</div>
</body>