@model Rental4You.Models.Reservation

@{
    ViewData["Title"] = "Detalhes";
}
<body style="background-image:url('/img/reservas.jpg'); ">
<h1 style="color:white;">A visualizar detalhes de uma reserva...</h1>

<div>
        <h4 style="color:white;">Reserva:</h4>
    <hr />
        <dl class="row" style="width:600px; position:relative; left:34%; padding:0 20px;">
        <dt class="col-sm-2" style="margin-top:10px;">
            @Html.DisplayNameFor(model => model.Vehicle.Name)
        </dt>
            <dd class="col-sm-10" style="margin-top:10px;">
            @Html.DisplayFor(model => model.Vehicle.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Confirmed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Confirmed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KmsStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KmsStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DamageStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DamageStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObservationsStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObservationsStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KmsEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KmsEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DamageEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DamageEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObservationsEnd)
        </dt>
            <dd class="col-sm-10" style="padding-left: 50px">
            @Html.DisplayFor(model => model.ObservationsEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DamageImages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DamageImages)
        </dd>

        <dt class="col-sm-2">
            <span class="badge bg-dark text-white">Cliente</span>
        </dt>
        <dd class="col-sm-10">
            <span class="badge bg-dark text-white">@ViewBag.showClient</span>
        </dd>

        <dt class="col-sm-2">
            <span class="badge bg-dark text-white">Funcionário no levantamento</span>
        </dt>
            <dd class="col-sm-10" style="padding-left: 150px">
            <span class="badge bg-dark text-white">@ViewBag.showDelieverEmployee</span>
        </dd>

        <dt class="col-sm-2">
            <span class="badge bg-dark text-white">Funcionário na entrega</span>
        </dt>
            <dd class="col-sm-10" style="padding-left: 150px">
            <span class="badge bg-dark text-white">@ViewBag.showReceiverEmployee</span>
        </dd>

    </dl>
     
</div>
    <div style="position:relative; left:34%">

        @if (User.IsInRole("Employee"))
        {
            <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
        }

        <a asp-action="Index">Voltar</a>
    </div>
</body>