@model IEnumerable<Rental4You.Models.Company>

@{
    ViewData["Title"] = "Início";
}

<h1>Lista de empresas:</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Criar uma nova empresa</a>
    </p>
}

<div>
    <form method="post">
        <input type="text" name="TextToSearchName" placeholder="Nome da empresa">
        <input type="submit" value="Procurar" asp-action="Search" asp-route-TextToSearchName=TextToSearchName/>
    </form>
</div>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#"
       role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filtrar por disponibilidade da empresa
    </a>
    <ul class="dropdown-menu">
  
        <li>
            <a class="dropdown-item" asp-action="Index" asp-route-filter="true">Disponível</a>
        </li>

        <li>
            <a class="dropdown-item" asp-action="Index" asp-route-filter="false">Indisponível</a>
        </li>

    </ul>
</li>

<li>
    <a class="dropdown-item" asp-action="Index">Remover filtros</a>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#"
       role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Ordenar por
    </a>
    <ul class="dropdown-menu">

        <li>
            <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="foward">Ordem alfabética</a>
        </li>

        <li>
            <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="back">Ordem alfabética inversa</a>
        </li>

    </ul>
</li>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acronym)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acronym)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
            </td>
        </tr>
}
    </tbody>
</table>
